@import '_reset';
@import '_fonts';

$font-medium: 'Gotham medium';
$font-light: 'Gotham light';

a {
  outline: 0;
}

h1 {
  font-size: 48px;
  font-family: $font-light;
  font-weight: 300;
}

.div-table {
  display: table;

  .div-row {
    display: table-row;

    .div-cell {
      display: table-cell;
    }
  }
}

.col-half {
  width: 50%;
}

.col-fourth {
  width: 25%;
}

.col-half,
.col-fourth {
  box-sizing: border-box;
}

.sc-wr {
  font-size: 0;

  .col-s,
  .col-f {
    display: inline-block;
  }
}

.col-s {
  width: 58%;
}

.col-f {
  width: 42%;
}

.sect {
  width: 100%;
  overflow: hidden;

  .container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
  }
}

.sect-cc {
  background: #007ed8;

  .img-top-logo {
    margin: 21px 0 0 62px;
  }

  h1 {
    line-height: 50px;
    color: #b4defd;
    margin: 29px 24px 30px 63px;
  }

  p {
    color: white;
    font-family: $font-light;
    font-size: 19px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 24px 0 63px;

    &:last-child {
      color: #f1f1f1;
      font-family: $font-medium;
      font-size: 20px;
      margin: 0 10px 26px 63px;
      clear: both;
    }
  }

  .img-product {
    max-width: 100%;
    height: auto;
    float: right;
  }

  .monster {
    background: transparent url(../imgs/monster.jpg) no-repeat;
    background-size: cover;
    position: relative;

    button {
      color: white;
      font-family: $font-medium;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: #1da0fd;
      padding: 10px;
      border: none;
      position: absolute;
      top: 40px;
      right: 20%;

      &:hover {
        background-color: #0379cd;
        cursor: pointer;
      }
    }

    img {
      display: none;
    }
  }
}

.itm-icon,
.flex-nav {
  background: transparent url(../imgs/spritesheet.png) no-repeat;
}

.sect-icons {
  background: #123b79;
  text-align: center;

  .container {
    max-width: 1149px;
  }

  .items {
    font-size: 0;
    margin: 28px 0 31px;
  }

  .itm {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 20%;

    .itm-icon-wr {
      width: 54px;
      height: 54px;
      margin: 0 auto 29px;
      border-radius: 50%;
      background: #07224a;
      position: relative;
    }

    .itm-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .itm-icon.eye {
      background-position: -160px -10px;
      width: 33px;
      height: 26px;
    }

    .itm-icon.second {
      background-position: -82px -10px;
      width: 29px;
      height: 29px;
    }

    .itm-icon.arrows {
      background-position: -121px -10px;
      width: 29px;
      height: 29px;
    }

    .itm-icon.lock {
      background-position: -203px -10px;
      width: 24px;
      height: 33px;
    }

    .itm-icon.trash {
      background-position: -237px -10px;
      width: 24px;
      height: 31px;
    }

    p {
      color: white;
      font-family: $font-medium;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.sect-sc {
  background: #d0007b;

  .container {
    padding: 0 63px;
    box-sizing: border-box;
  }

  .sc-wr {
    padding: 0 0 16px;
  }

  h1 {
    margin: 36px 0 19px;
    color: #fecae9;
  }

  p {
    font-family: $font-light;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    color: white;

    &:last-child {
      color: #f1f1f1;
      font-family: $font-medium;
      font-size: 20px;
      margin: 24px 0 0;
    }
  }

  .col-s,
  .col-f {
    vertical-align: top;
  }

  .col-f {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      margin: 13px 0 0;
    }
  }
}

.sect-form {
  background: #9c005b;

  .container {
    max-width: 732px;
    padding: 32px 0 33px;
    overflow: hidden;
  }

  .form-top {
    overflow: hidden;
  }

  input {
    &::-webkit-input-placeholder {color:#ff93d3;}
    &::-moz-placeholder          {
      color:#ff93d3;
      opacity: 1;
    }/* Firefox 19+ */
    &:-moz-placeholder           {
      color:#ff93d3;
      opacity: 1;
    }/* Firefox 18- */
    &:-ms-input-placeholder      {color:#ff93d3;}
  }

  input,
  .cstm-sel {
    width: 100%;
    background: #ec008c;
    border: none;
    color: #ff93d3;
    font-family: $font-medium;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-bottom: 18px;
    height: 44px;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #ff93d3;
    }
  }

  .cstm-sel {
    background: #ec008c url(../imgs/cstm-sel.png) no-repeat 90% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    &::-ms-expand {
      display:none;
    }
  }

  input[type=submit] {
    background: #fd64bf;
    width: auto;
    float: right;
    margin-bottom: 0;
    min-width: 105px;
    color: white;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      background-color: #c8368d;
    }
  }

  p {
    margin: 0 0 21px;
    float: left;
    color: #f1f1f1;
    font-family: $font-medium;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 58%;
  }

  span {
    display: block;
    float: right;
    color: #fd64bf;
    font-family: $font-medium;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
  }
}

#form {
  & > div {
    float: left;
    position: relative;

    &:nth-child(odd) {
      padding: 0 0 0 2px;
    }

    &:nth-child(even),
    &:nth-child(1) {
      padding: 0 7px 0 0;
    }

    &:nth-child(2) {
      padding: 0 7px 0 2px;
    }

    &:nth-child(7) {
      padding: 0 2px 0;
    }

    &:nth-child(8) {
      padding: 0 0 0 7px;
    }
  }

  label.error {
    position: absolute;
    left: 6px;
    bottom: 5px;
    font-size: 12px;
  }
}

.sect-carousel {
  background: #e8e8e8;

  .container {
    max-width: 970px;
  }

  .slider-wr {
    position: relative;

    .flex-nav {
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }

    .flex-prev {
      background-position: -5px -5px;
      width: 26px;
      height: 51px;
      left: 0;
    }

    .flex-next {
      background-position: -41px -5px;
      width: 26px;
      height: 51px;
      right: 0;
    }
  }

  .flexslider {
    background: transparent;
    max-width: 732px;
    margin: 53px auto 50px;
    border: none;
  }

  .flex-control-nav {
    bottom: -30px;
  }

  .slide {
    h2 {
      color: #906;
      font-family: $font-light;
      font-size: 40px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 16px;
    }

    p {
      font-family: $font-medium;
      font-size: 17px;
      font-weight: 400;
      line-height: 35px;
      color: #666;
      max-width: 300px;
    }

    span {
      color: #333;
    }

    .col-f {
      text-align: center;
    }

    .col-s {
      padding-left: 35px;
      box-sizing: border-box;
      vertical-align: top;
    }

    img {
      max-width: 100%;
    }
  }
}

.sect-buy {
  background: white;

  .container {
    padding: 40px 54px 61px 125px;
  }

  h3 {
    color: #906;
    font-size: 38px;
    line-height: 40px;
    font-family: $font-light;
    font-weight: 300;
    max-width: 560px;

    span {
      font-family: $font-medium ;
      font-weight: 400;
    }
  }

  h4 {
    color: #ec008c;
    font-family: $font-medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 15px 0 102px;
    max-width: 48%;
  }

  p {
    color: #666;
    font-family: $font-medium;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    max-width: 42%;
  }

  img {
    position: absolute;
    right: 12px;
    bottom: 41px;
    max-width: 55%;
  }

  button {
    position: absolute;
    top: 34px;
    right: 124px;
    min-width: 106px;
    min-height: 43px;
    background-color: #ec008c;
    color: white;
    font-family: $font-medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;

    &:hover {
      background-color: #c10273;
      cursor: pointer;
    }
  }

  .copyright {
    position: absolute;
    bottom: 24px;
    right: 120px;
    color: #666;
    font-family: $font-medium;
    font-size: 11px;
    font-weight: 400;
    line-height: 35px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .sect-buy {
    button {
      right: 10%;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .sect-cc {
    .div-table,
    .div-row,
    .div-cell {
      display: block !important;
    }

    .col-half {
      width: 100%;
    }

    .monster {
      height: 543px;
    }
  }

  .sect-sc {
    .col-s,
    .col-f {
      width: 100%;
    }
  }

  .sect-carousel {
    .slider-wr {
      margin: 0 10px;
      padding: 0 30px;
    }
  }

  .sect-buy {
    h4 {
      max-width: 100%;
    }

    h4, p {
      margin-bottom: 30px;
    }

    p, img {
      max-width: 100%;
    }

    img {
      position: static;
      width: 90%;
    }

    .pb-wr {
      position: relative;
    }

    button {
      top: 0;
      right: 0;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sect-cc {
    h1 {
      span {
        word-wrap: break-word;
      }
    }
  }

  .sect-icons {
    .itm {
      width: 33.3%;

      &:nth-child(3) {
        margin-bottom: 20px;
      }
    }
  }

  .sect-form {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .col-fourth {
      width: 50%;
    }

    p {
      width: 100%;
    }
  }

  #form {
    & > div {
      &:nth-child(odd) {
        padding: 0 7px 0 0;
      }

      &:nth-child(even) {
        padding: 0 0 0 7px;
      }
    }
  }

  .sect-carousel {
    .col-f,
    .col-s {
      display: block;
      width: 100%;
    }

    .slide {
      .col-s {
        width: 305px;
        padding: 0;
        margin: 20px auto;
      }
    }
  }

  .sect-buy {
    .container {
      padding-left: 63px;
    }

    img {
      max-width: 80%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h1 {
    font-size: 40px;
  }

  .sect-cc {
    .img-top-logo,
    h1,
    p,
    p:last-child {
      margin-left: 10px;
    }

    .monster {
      background: none;
      height: auto;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .sect-icons {
    .itm {
      width: 50%;

      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }

  .sect-sc {
    .container {
      padding: 0 10px;
    }
  }

  .sect-form {
    .col-fourth,
    .col-half {
      width: 100%;
    }

    span {
      font-size: 18px;
    }
  }

  #form {
    & > div {
      &:nth-child(odd),
      &:nth-child(even) {
        padding: 0;
      }
    }
  }

  .sect-carousel {
    .slider-wr {
      padding: 0;

      .flex-nav {
        display: none;
      }
    }

    .slide {
      h2 {
        font-size: 37px;
      }
    }
  }

  .sect-buy {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .pb-wr {
      text-align: center;

      img {
        max-width: 100%;
      }

      button {
        position: static;
        margin-bottom: 30px;
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}